<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">

<listeners>
<listener class-name="Gojek.TestComponents.Listeners"/>

</listeners>


  <test thread-count="5" name="Submit Order">
    <classes>
      <class name="Gojek.SeleniumFrameworkDesign.tests.SubmitOrderTest"></class>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Error Validations Test">
    <classes>
      <class name="Gojek.SeleniumFrameworkDesign.tests.ErrorValidationsTest"></class>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
